dtd/emailTemplateData.dtd

<!--
  * emailTexts.dtd
  *
  * Copyright (c) 2000-2009 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * DTD for email texts.
  *
  * $Id: emailTemplateData.dtd,v 1.2 2009/08/18 23:44:08 asmecher Exp $
  -->

<!ELEMENT email_texts (email_text+)>
	<!ATTLIST email_texts
		locale CDATA #REQUIRED>
<!ELEMENT email_text (subject, body, description?)>
	<!ATTLIST email_text
		key CDATA #REQUIRED>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT body (#PCDATA)>
<!ELEMENT description (#PCDATA)>
