dtd/navigationMenus.dtd

<!--
  * dtd/navigationMenus.dtd
  *
  * Copyright (c) 2014-2017 Simon Fraser University
  * Copyright (c) 2000-2017 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * DTD for default navigation menus.
  *
  -->
<!ELEMENT navigationMenuItems (navigationMenuItem+)>
<!ELEMENT navigationMenuItem (navigationMenuItem?)>
<!ATTLIST navigationMenuItem
		title CDATA #REQUIRED
		content CDATA #IMPLIED
		path CDATA #IMPLIED
		page CDATA #REQUIRED
		default CDATA #REQUIRED
		op CDATA #IMPLIED
		default_id CDATA #REQUIRED>

<!ELEMENT navigationMenus (navigationMenu+)>
<!ELEMENT navigationMenu (navigationMenuItem*)>
	<!ATTLIST navigationMenu
		title CDATA #REQUIRED
		area CDATA #REQUIRED>
